<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
        <h:outputStylesheet library="css" name="styles.css"/>
        <h:outputScript library="js" name="script.js"/>
    </h:head>
    <h:body>
        <div id='cssmenu'>
        <ul>
           <!-- 
           <li class='active'><a href='#'> <h:graphicImage library="images" name="menu.png"/> </a> 
           -->
           <li class='active'><a href='#'>Menu</a> 
               <ul>
                   <li><a href='#'>Entrar</a></li>
                   <li><a href='#'>Cadastrar-se</a></li>
                   <li><a href='#'>Agendar tarefa</a></li>
               </ul>
           </li>
        </ul>
        </div>
    </h:body>
</html>